<!DOCTYPE html>
<html>
  <head>
    <title>The Spoon 866 | A restaurant Guide</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 style="text-align: center">The Spoon</h1>
    <p style="text-align: center">
      <%= link_to 'Home', restaurants_path %> |
      <%= link_to 'Add Restaurant', new_restaurant_path %>
    </p>
    <hr/>
    <%= yield %>
  </body>
</html>
